* {
  font-family: 'Raleway', 'verdana', 'arial', 'tahoma', sans-serif;
}
div.container {
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
}
div.grafico {
  width: 60%;
}
div.dados {
  margin-left: 2%;
  width: 38%;
}
@media (max-width: 500px) {
  div.grafico, div.dados {
    width: 100%;
  }
  div.dados {
    order: 1;
  }
  div.grafico {
    order: 2;
  }
}

div.barra {
  height: 50px;
  line-height: 50px;
  background-color: silver;
       /* top right bottom left */
       /* top/bottom right/left */
  margin: 10px 0px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 1.2em;
  color: white;
  text-shadow: 2px 2px black;
  min-width: 20px;
  width: 20px;
  transition: width 1s ease-out;
}

div.notas p {
  display: inline-block;
  margin-right: 0.5em;
}
/*
todo p dentro de uma div com a class notas,
sendo que p não é o último filho, após ele colocar uma ','
*/
div.notas p:not(:last-child)::after {
  content: ',';
}












/* */
